{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block adoptions_active %} class="active" {% endblock %}

{% block body %}
    <div id="main">
        <h1>{{ post.title }}</h1>
        <div>
            {% if 'http' in post.picture %}
                <img class="pull-left" src="{{ post.picture }}" alt="" />
            {% else %}
                <img class="pull-left" src="/images/posts/{{ post.picture }}" alt="" />
            {% endif %}
            <p>{{ post.description }}</p>


            <table>
                <tr>
                    <th>Szczepenia</th>
                    <th>Kastracja</th>
                </tr>
                <tr>
                    <td>{% if post.vaccination %} ✅ {% else %} ❌ {% endif %}</td>
                    <td>{% if post.castration %} ✅ {% else %} ❌ {% endif %}</td>
                </tr>
            </table>


            <span class="pull-right">Dodano: {{ post.createdAt | date("H:i d/m/Y") }}</span>
        </div>
        {% if is_granted("ROLE_USER") %}
            <div>
                <h3>Rezerwuj</h3>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button>Dodaj post</button>
                {{ form_end(form) }}
            </div>
        {% else %}
            <h3>Zaloguj się aby dokonać rezerwacji</h3>
        {% endif %}

    </div>
{% endblock %}