{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <h1>{{ 'profile.show.username'|trans }}: {{ user.username }}</h1><br />
    <h1>{{ 'profile.show.email'|trans }}: {{ user.email }}</h1>
    <a href="{{ path('fos_user_profile_edit') }}">Edytuj</a>
</div>
