{% extends 'base.html.twig' %}

{% block homepage_active %} class="active" {% endblock %}

{% block body %}
    <div id="slider">
        <div class="slider-holder">
            <ul>
                {% for animal in arrayOfAnimals %}
                <li>
                    <div class="image"> <img src="{{ asset(animal.image) }}" alt="" /> </div>
                    <div class="data">
                        <h3>{{ animal.title }}</h3>
                        <p>{{ animal.desc1 }}</p>
                        <p>{{ animal.desc2 }}</p>
                        <a href={{ animal.link }} class="read-more">Czytaj więcej</a> </div>
                    <div class="cl">&nbsp;</div>
                </li>
                {% endfor %}
            </ul>
            <div class="cl">&nbsp;</div>
        </div>
        <div class="slider-navigation"> <a href="#" class="previous">Poprzedni</a> <a href="#" class="next">Następny</a> </div>
    </div>
    <div id="main">
        <div id="content" class="box">
            <h2>{{ mainArticle.title }}</h2>
            <p>{{ mainArticle.desc1 }}</p>
            <p class="last">{{ mainArticle.desc2 }}</p>
            <a href={{ mainArticle.ref }} class="read-more">Czytaj dalej</a> </div>
        <div class="box last">
            <h2>Integer dictum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo.etur orci metus a justo. Aliquam ac congue nunc.</p>
            <a href="#" class="read-more">Read More</a> </div>
        <div class="cl">&nbsp;</div>
        <div class="box">
            <h2>Aliquam ac integar</h2>
            <div class="box-image"> <img src="{{ asset('css/images/box-image-1.jpg') }}" alt="" /> </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, </p>
            <div class="cl">&nbsp;</div>
            <a href="#" class="read-more">Read More</a> </div>
        <div class="box">
            <h2>Consectetur neque</h2>
            <div class="box-image"> <img src="{{ asset('css/images/box-image-2.jpg') }}" alt="" /> </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus.</p>
            <div class="cl">&nbsp;</div>
            <a href="#" class="read-more">Read More</a> </div>
        <div class="box last">
            <h2>Metus a justo</h2>
            <div class="box-image"> <img src="{{ asset('css/images/box-image-3.jpg') }}" alt="" /> </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus </p>
            <div class="cl">&nbsp;</div>
            <a href="#" class="read-more">Read More</a> </div>
        <div class="cl">&nbsp;</div>
        <div class="box">
            <h2>Adipiscing neque ut</h2>
            <div class="box-image"> <img src="{{ asset('css/images/box-image-4.jpg') }}" alt="" /> </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, </p>
            <div class="cl">&nbsp;</div>
            <a href="#" class="read-more">Read More</a> </div>
        <div class="box">
            <h2>Nulla tellus tempus</h2>
            <div class="box-image"> <img src="{{ asset('css/images/box-image-5.jpg') }}" alt="" /> </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus</p>
            <div class="cl">&nbsp;</div>
            <a href="#" class="read-more">Read More</a> </div>
        <div class="box last">
            <h2>Dictum Integer</h2>
            <div class="box-image"> <img src="{{ asset('css/images/box-image-6.jpg') }}" alt="" /> </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus</p>
            <div class="cl">&nbsp;</div>
            <a href="#" class="read-more">Read More</a> </div>
        <div class="cl">&nbsp;</div>
    </div>

{% endblock %}