{% extends 'base.html.twig' %}

{% block title %}Adopcje{% endblock %}

{% block adoptions_active %} class="active" {% endblock %}

{% block body %}
<div id="main">
    {% for animal in posts %}
        <div class="box1">
            <h2>{{ animal.title }}</h2>
            {% if 'http' in animal.picture %}
                <div class="box-image-bigger"> <img src="{{ animal.picture }}" alt="" /> </div>
            {% else %}
                <div class="box-image-bigger"> <img src="/images/posts/{{ animal.picture }}" alt="" /> </div>
            {% endif %}
            <p>{{ animal.description }}</p>
            <a href="{{ path('adoption_show', {'id': animal.id}) }}" class="read-more">Czytaj dalej</a>
        </div>

    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
</div>
{% endblock %}