<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Snuffles!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="shortcut icon" href="{{ asset('css/images/favicon.ico') }}"/>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.4.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.jcarousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-func.js') }}"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="shell">
        <div id="header">
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">HOME</a></li>
                    <li><a href="#">ADOPCJA</a></li>
                    <li><a href="#">ARTYKULY</a></li>
                    <li><a href="#">TWOJE ZWIERZE</a></li>
                    <li><a href="#">OPINIE</a></li>
                    <li class="with-dd"> <a href="#">WYDARZENIA</a>
                        <div>
                            <ul>
                                <li><a href="#">Charytatywne dziaranie</a></li>
                                <li><a href="#">Miska dla psa</a></li>
                                <li><a href="#">Stawiamy na łapy - bal dobroczynny</a></li>
                                <li><a href="#">Wybory najmilszego kota</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <a href="#" class="rss">RSS</a>
                <div class="cl">&nbsp;</div>
            </div>
            <h1 id="logo"><a href="#">Snuffles</a></h1>
            <div id="search"> <a href="#">Wyszukiwarka zwięrząt</a>
                <input type="text" name="string" value="Szukam..." class="field" />
                <input type="submit" name="submit" value="Search" class="submit" />
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div id="slider">
            <div class="slider-holder">
                <ul>
                    <li>
                        <div class="image"> <img src="{{ asset('css/images/kot1.jpg') }}" alt="" /> </div>
                        <div class="data">
                            <h3>MEOW!</h3>
                            <p>Wiecznie uśmiechnięty i zadowolony z życia kotek poszukuje kochającej mamy.</p>
                            <p>Kot obecnie w domu zastępczym. Nie umie korzystać z kuwety, zaznajomiony z używaniem ludzkiego kibelka.</p>
                            <a href="#" class="read-more">Read More</a> </div>
                        <div class="cl">&nbsp;</div>
                    </li>
                    <li>
                        <div class="image"> <img src="{{ asset('css/images/pies1.jpg.jpg') }}" alt="" /> </div>
                        <div class="data">
                            <h3>Owl Yeah!</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo.</p>
                            <p>Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus.</p>
                            <a href="#" class="read-more">Read More</a> </div>
                        <div class="cl">&nbsp;</div>
                    </li>
                    <li>
                        <div class="image"> <img src="{{ asset('css/images/pies2.jpg.jpg') }}" alt="" /> </div>
                        <div class="data">
                            <h3>Owl Yeah!</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo.</p>
                            <p>Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus.</p>
                            <a href="#" class="read-more">Read More</a> </div>
                        <div class="cl">&nbsp;</div>
                    </li>
                </ul>
                <div class="cl">&nbsp;</div>
            </div>
            <div class="slider-navigation"> <a href="#" class="previous">Previous</a> <a href="#" class="next">Next</a> </div>
        </div>

        {% block body %}{% endblock %}
    </div>
    <div id="footer">
        <div class="footerlink">
            <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
            <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <script type="text/javascript">
        Cufon.now();
    </script>

    </body>
</html>
